* {
    box-sizing: border-box;
}

:root {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Resist {
    background-color: #1D809F;

    .container {
        // background-color: rgb(81, 212, 190);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1200px;
        text-align: center;
        padding: 0;
        padding: 8rem;

        p {
            font-size: calc(1.325rem + 0.9vw);
            font-weight: 700;
            line-height: 1.2;
            color: white;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 1.25rem 2.5rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #136882;
                ;
            }
        }

        .click {
            background-color: white;
            color: black;
            margin-right: 20px;
        }

        .look {
            background-color: black;
            color: white;

        }
    }
}